*.o
*.so
*.d
*.a

*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt

*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

*.brf

makefiles/rl

.DS_Store
.AppleDouble
.LSOverride
._*

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
test.dSYM
*.dSYM

out.*.*.[oe]
policies/*
runs/
/apps/glider/glider
/apps/test_cpp_fit/test-fit
engine_cmaes
cart-pole
pp
terminals.dat
_deprecated*

*.swp
